<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" value="ordodo https://github.com/igneus/ordodo">
    <title><%= title %> <%= year %>&ndash;<%= year + 1 %></title>
    <style>
      body { max-width: 600px; margin: 1em auto; }
      h1, h2, h3, .nav { text-align: center; }
      .record { border-bottom: 1px solid black; padding: 0.5em 0; }
      .psalter { float: right; font-size: small; }

      .nowrap { white-space: nowrap; }

      .entry { margin-top: 1em; }
      .entry:first-child { margin-top: 0; }
      .commemoration, .or { margin-top: 0.6em; }
      .or { font-style: italic; }
      .commemoration .title { font-variant: small-caps; }

      .colour { display: inline-block; width: 1em; height: 1em; overflow: hidden; border: 1px solid #333; text-align: center; }
      .colour-green { background-color: green; }
      .colour-red { background-color: red; }
      .colour-violet { background-color: violet; }
      .colophon { text-align: center; margin-top: 1.8em; font-size: 90%; }
      .heavy { text-transform: uppercase; }
    </style>
  </head>
  <body>
    <h1>
      <%= title %>
      <br>
      <span class="nowrap"><%= year %>&ndash;<%= year + 1 %></span>
    </h1>

    <div class="nav">
      <% months.each do |month| %>
      <a href="#month-<%= month.year %>-<%= month.month %>"><%= month.month %></a>
      <% end %>
    </div>
