<div id="<%= record.date.strftime('%m-%d') %>" class="record">
  <div class="record-header">
    <span class="psalter"><%= I18n.t 'psalter_week', week: record.psalter_week %></span>

    <%= record.date.strftime %>
    <%= I18n.t "weekday.#{record.date.wday}" %>
  </div>

  <div class="entries">
    <% record.entries.each_with_index do |entry, ei| %>
    <div class="entry">
      <% if record.entries.size > 1 && ei > 0 %>
        <div class="variant-heading"><%= entry.titles.join(', ') %>:</div>
      <% end %>

      <% entry.celebrations.each do |celebration| %>
      <div class="celebration">
        <div class="celebration-title">
          <span class="colour colour-<%= celebration.colour.symbol %>" title="<%= celebration.colour.name %>">
            <%= celebration.colour.name[0].upcase %>
          </span>

          <% unless notbold_ranks.include? celebration.rank %><strong><% end %>
            <% unless unprinted_ranks.include? celebration.rank %>
              <span class="celebration-rank">
                <% if primary_solemnity? celebration %>
                  <%= CalendariumRomanum::Ranks::SOLEMNITY_GENERAL.short_desc %>
                <% else %>
                  <%= celebration.rank.short_desc %>
                <% end %>
              </span>
            <% end %>
            <span class="celebration-title <%= celebration.solemnity? && 'heavy' %>">
              <%= celebration.title %>
            </span>
          <% unless notbold_ranks.include? celebration.rank %></strong><% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
