<div class="record">
  <div class="record-header">
    <%= record.date.strftime %>
    <%= I18n.t "weekday.#{record.date.wday}" %>
  </div>

  <div class="entries">
    <% record.entries.each_with_index do |entry, ei| %>
    <div class="entry">
      <% if record.entries.size > 1 && ei > 0 %>
        <div class="variant-heading"><%= entry.titles.join(', ') %>:</div>
      <% end %>

      <% entry.celebrations.each do |celebration| %>
      <div class="celebration">
        <div class="celebration-title">
          <span class="colour colour-<%= celebration.colour.symbol %>">
            <%= celebration.colour.symbol %>
          </span>

          <% if unprinted_ranks.include? celebration.rank %>
          <%= celebration.title %>
          <% else %>
          <strong>
            <span class="celebration-rank"><%= celebration.rank.short_desc %></span>
            <%= celebration.title %>
          </strong>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
