<div id="<%= record.date.strftime('%m-%d') %>" class="record">
  <div class="record-header">
    <span class="psalter"><%= I18n.t 'psalter_week', week: record.psalter_week %></span>

    <%= record.date.strftime %>
    <%= I18n.t "weekday.#{record.date.wday}" %>
  </div>

  <div class="entries">
    <% record.entries.each_with_index do |entry, ei| %>
    <div class="entry">
      <% if record.entries.size > 1 && ei > 0 %>
        <div class="variant-heading"><%= entry.titles.join(', ') %>:</div>
      <% end %>

      <% entry.celebrations.each_with_index do |celebration, ci| %>
      <% if celebration.rank == CalendariumRomanum::Ranks::COMMEMORATION %>
        <div class="celebration commemoration">
          <%= I18n.t 'office.commemoration', title: "<span class=\"title\">#{celebration.title}</span>" %>
        </div>
        <% next %>
      <% end %>

      <% if ci > 0 %>
      <div class="or"><%= I18n.t 'or' %></div>
      <% end %>

      <div class="celebration">
        <div class="celebration-title">
          <span class="colour colour-<%= celebration.colour.symbol %>" title="<%= celebration.colour.name %>">
            <%= celebration.colour.name[0].upcase %>
          </span>

          <% unless notbold_ranks.include? celebration.rank %><strong><% end %>
            <% unless unprinted_ranks.include? celebration.rank %>
              <span class="celebration-rank">
                <% if primary_solemnity? celebration %>
                  <%= CalendariumRomanum::Ranks::SOLEMNITY_GENERAL.short_desc %>
                <% else %>
                  <%= celebration.rank.short_desc %>
                <% end %>
              </span>
            <% end %>
            <span class="celebration-title <%= celebration.solemnity? && 'heavy' %>">
              <%= celebration.title %>
            </span>
          <% unless notbold_ranks.include? celebration.rank %></strong><% end %>
        </div>
        <div>
          <% if celebration.office_ferial? %>
            <%= I18n.t 'office.ferial' %>
          <% elsif celebration.office_memorial? %>
            <%= I18n.t 'office.memorial' %>
          <% elsif celebration.office_festal? || celebration.office_solemnity? %>
            <%= I18n.t "office.daytime.#{celebration.daytime_prayer}" %>
          <% end %>
        </div>
      </div>
      <% if entry.vespers_from_following? %>
        <div class="vespers">
          <% if entry.vespers_from_following_sunday? %>
            <%= I18n.t 'office.vespers_from_following.sunday' %>
          <% elsif entry.vespers_from_following_feast? %>
            <%= I18n.t 'office.vespers_from_following.feast' %>
          <% else %>
            <%= I18n.t 'office.vespers_from_following.solemnity' %>
          <% end %>
        </div>
        <% unless entry.vespers_from_following_sunday? %>
          <div class="compline">
            <%= I18n.t 'office.compline.sunday_first' %>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
